
<form  class="form-horizontal" novalidate name="userForm" ng-submit="save()">

	<!--
	<pre>{{educationList}}</pre>
	<pre>{{userForm.username.$dirty}}</pre>
	<pre>{{userForm.username.$error}}</pre>
	-->
	<!--	
	<pre>
	Email		
	Error: {{userForm.email.$error}}
	Valid: {{userForm.email.$valid}}
	Invalid: {{userForm.email.$invalid}}
	Pristine: {{userForm.email.$pristine}}
	</pre>
	-->
	
	<pre>
	Username		
	{{userForm.username.$invalid && userForm.username.$dirty}}
	Error: {{userForm.username.$error}}
	Valid: {{userForm.username.$valid}}
	Invalid: {{userForm.username.$invalid}}
	Pristine: {{userForm.username.$pristine}}
	</pre>	
	
	<!--
	<pre>
	Email		
	Error: {{userForm.email.$error}}
	Valid: {{userForm.email.$valid}}
	Invalid: {{userForm.email.$invalid}}
	Pristine: {{userForm.email.$pristine}}
	</pre>
	-->
	<!--
	<pre>
	Name		
	Error: {{userForm.username.$error}}
	Valid: {{userForm.name.$valid}}
	Invalid: {{userForm.name.$invalid}}
	Pristine: {{userForm.name.$pristine}}
	</pre>
	-->
	
	<!--
  	<pre>
	User From		
	Error: {{userForm.$error}}
	Valid: {{userForm.$valid}}
	Invalid: {{userForm.$invalid}}
	Pristine: {{userForm.$pristine}}
	</pre>
	-->
	

	<div class="form-group" ng-class="{'has-error': userForm.username.$invalid && userForm.username.$dirty, 'has-success': userForm.username.$valid && userForm.username.$dirty }">
		<label for="inputUsername" class="col-sm-2 control-label">Username</label>
		<div class="col-sm-10">
		<input type="text" name="username"  class="form-control"  ng-minlength="3" ng-maxlength="8" ng-model="user.username" required />
		
		<p class="help-block"  ng-show="userForm.username.$error.minlength">Username too short</p>
		
		<p class="help-block"  ng-show="userForm.username.$error.maxlength">Username too log</p>
		
		<p class="text-danger"  ng-show="userForm.username.$error.required">Username is required</p>				
	
		</div>
	</div>

	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
		<input type="email" name="email"  class="form-control" ng-model="user.email" required placeholder="Enter email" />
		<p class="help-block"  ng-show="userForm.email.$error.required">Email is required</p>
		<p class="help-block"   ng-show="!userForm.email.$error.required && userForm.email.$invalid">Enter valid email format</p>	</div>
	</div>

	<div class="form-group">
		<label for="inputName" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
		<input type="text" name="fname"  class="form-control" ng-model="user.name" required />
			<p class="help-block"  ng-show="userForm.fname.$error.required" >Name is required</p>
		</div>
		
	</div>		

	<div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input type="password" name="name"  class="form-control" ng-model="user.password"/>	
	   </div>
	</div>	


	<div class="form-group">
		<label for="inputCpassword" class="col-sm-2 control-label">Confirm Password</label>
		<div class="col-sm-10">
		<input type="password" name="name"  class="form-control" ng-model="user.cpassword"/>	</div>
	</div>	

	<div class="form-group ">
		<label for="inputGender" class="col-sm-2 control-label">Gender</label>
	
			<div class="col-sm-10">
				<div class="radio">
				  <label>
				    <input type="radio" name="gender" ng-model="user.gender"  value="male" />
				    Male
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="gender" ng-model="user.gender" value="female" >
				    Female
				  </label>
				</div>				
			</div>
	</div>		

	<div class="form-group">
		<label for="inputName" class="col-sm-2 control-label">Education</label>
		<div class="col-sm-10">
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox2" name="education" ng-model="user.education.school"> School
			</label>			
			
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox2" name="education" ng-model="user.education.degree"> Degree
			</label>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox3"  name="education" ng-model="user.education.phd"> Phd
			</label>
			
		</div>
	</div>				

	<div class="form-group">
		<label for="inputName" class="col-sm-2 control-label">Address</label>
		<div class="col-sm-10">
		<textarea class="form-control" rows="3" ng-model="user.address" name="address"></textarea>
		</div>
	</div>				

	<div class="form-group">
		<label for="inputName" class="col-sm-2 control-label">Country</label>
		<div class="col-sm-10">

			<select class="form-control" ng-model="user.country" name="country" ng-options="country.name for country in countryList">
				
			</select>


		</div>
	</div>					

	<div class="form-group">
		<label for="inputName" class="col-sm-2 control-label">Sports</label>
		<div class="col-sm-10">
			<select class="form-control" ng-model="user.sports"  multiple name="sports" ng-options="sports.name for sports in sportsList">
				
			</select>
		</div>
	</div>	

	<div class="form-group">
		
		<div class="col-sm-10 col-sm-offset-4">
			
			<button type="button" class="btn btn-primary"  ng-disabled="userForm.$invalid || isUnchanged(user)"  ng-click="addUser(user)">Save </button>
			
		</div>
	</div>	

	<!--
	<table class="table">

			<tr>
				<td>User Name</td>
				<td></td>
			</tr>		
			<tr>
				<td>First Name</td>
				<td><input type="text" name="firstname" ng-model="user.firstname"></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" name="lastname" ng-model="user.lastname"></td>
			</tr>
			


			<tr>
				<td>Password</td>
				<td><input type="password" name="password" ng-model="user.password"></td>
			</tr>	


			<tr>
				<td>Confrim Password</td>
				<td><input type="password" name="cpassword" ng-model="user.cpassword"></td>
			</tr>		

			<tr>
				<td>submit</td>
				<td><input type="submit" name="Save" ></td>
			</tr>			
							
	</table>
	-->
	<pre>{{user}}</pre>

</form>

<!--
http://vitalets.github.io/checklist-model/
http://www.ng-newsletter.com/posts/validations.html
-->

<!-- 
validation 
1. required
2. url validation
3. number validation 
4. error message showing
